@import '../../../styles/variables';
@import '../../../styles/mixins';

.footer {
  margin-top: 20px;
  padding: 6px;
  text-align: center;
  background: #ECECEC;
  color: #AAA;
  font-size: 12px;
  clear: both;
}

.links {
  display: block;

  > a {
    color: #888;
  }

  @include media-breakpoint-up(sm) {
    display: inline;

    &::before {
      content: ' - ';
    }
  }
}
