@import '../../../styles/variables';
@import '../../../styles/mixins';

.wrapper {
  position: relative;
  min-height: 100%;
}

.header {

}

.content {
  padding-bottom: $footer-margin + $xs-footer-height;

  @include media-breakpoint-up(sm) {
    padding-bottom: $footer-margin + $footer-height;
  }
}

.clearBeforeFooter {
  clear: both;
}

.footer {
  width: 100%;
  height: $footer-margin + $xs-footer-height;
  position: absolute;
  bottom: 0;
  left: 0;

  @include media-breakpoint-up(sm) {
    height: $footer-margin + $footer-height;
  }
}
