@import '../../../../../styles/variables';

.section {
  box-sizing: border-box;
  float: right;
  width: $content-width;
  padding: 0 20px;
  margin-bottom: 20px;

  @media screen and (max-width: $xs-width) {
    float: none;
    width: 100%;
  }
}

.title {
  color: $primary-color;
  font: bold 32px $font-stack;
  margin: 10px 0 40px 0;
}
