@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.bannerContainer {
  background: url('./banner_xs.jpg') no-repeat;
  height: 250px;

  @include media-breakpoint-up(sm) {
    background: url('./banner_sm.jpg') no-repeat;
  }

  @include media-breakpoint-up(lg) {
    height: 350px;
    background: url('./banner_md.jpg') no-repeat;
  }

  @include media-breakpoint-up(xl) {
    background: url('./banner_lg.jpg') no-repeat;
  }

  > div {
    height: 100%;
  }
}

.bannerInner {
  position: relative;
}

.openingHoursContainer {
  position: absolute;
  bottom: 0;
  right: 15px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 15px;
}

.openingHoursTitle {
  font-weight: bold;
}

.title {
  margin-top: .5rem;
}

.seeAll {
  padding-top: 5px;
  clear: both;
  text-align: right;
}

.precisiumLogoContainer {
  margin-top: 1rem;
  padding-top: 0;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding-top: 28px;
  }
}
