@import '../../../styles/variables';
@import '../NavToggle/variables';

$text-padding: 0 ($toggle-width + ($toggle-margin * 2));
$toggle-transition-delay: 500ms;

.header {
  overflow: hidden;
  background: $black-color;
  color: #fff;
  position: relative;
}

.navContainer {
  position: relative;
  min-height: 44px;
}

.nav {
  text-align: center;
  overflow: hidden;
  /* To avoid the toggle button to be on top of links */
  padding: $text-padding;

  &.opened {
    transition: max-height $toggle-transition-delay ease-in;
    max-height: 500px;
  }

  @media screen and (max-width: $xs-width) {
    max-height: 0;
    transition: max-height $toggle-transition-delay ease-out;
  }
}

.navLinks {
  padding: 0;
  margin: 10px 0;

  > li {
    display: inline;

    > a {
      color: #fff;
      text-transform: uppercase;
      margin: 0 3px;
    }
  }
}
