@import '../../../styles/variables';
@import '../NavToggle/variables';

$text-padding: 0 ($toggle-width + ($toggle-margin * 2));
$toggle-transition-delay: 500ms;

$header-height: 50px;
$underline-width: 3px;
$line-height: $header-height - $underline-width;

.header {
  overflow: hidden;
  background: $black-color;
  color: #fff;
  position: relative;
}

.navContainer {
  position: relative;
  height: $header-height;
  margin: auto;
  max-width: $content-width;
}

.navBrand {
  float: left;
  margin-right: 20px;
  line-height: $line-height;
  font-size: 20px;
}

.nav {
  float: left;
  overflow: hidden;
  /* To avoid the toggle button to be on top of links */
  padding: $text-padding;

  &.opened {
    transition: max-height $toggle-transition-delay ease-in;
    max-height: 500px;
  }

  @media screen and (max-width: $xs-width) {
    max-height: 0;
    transition: max-height $toggle-transition-delay ease-out;
  }
}

.navLinks {
  padding: 0;
  margin: 0;

  > li {
    display: inline-block;
    > a {
      display: inline-block;
      color: #fff;
      padding: 0 15px;
      line-height: $line-height;
      border-bottom: $underline-width solid transparent;

      &:hover,
      &.active {
        text-decoration: none;
        background-color: #333;
        border-color: $primary-color;
      }
    }
  }
}
