@import '../../../../../styles/variables';

.figureOverlay {
  text-align: center;
  line-height: 0;

  figure {
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    position: relative;

    img {
      max-width: 100%;
      max-height: 500px;
      height: auto;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      height: 41px;
      line-height: 41px;
      font-size: 13px;

      display: none;

      background: #000;
      text-align: center;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {
      img {
        opacity: 0.75;
      }

      figcaption {
        display: block;
      }
    }
  }
}
