@import './variables';
@import './mixins';
@import './icons';

:global {
  @import '../../node_modules/bootstrap/scss/bootstrap-reboot';
  @import '../../node_modules/bootstrap/scss/bootstrap-grid';
  @import '../../node_modules/bootstrap/scss/utilities';
  @import '../../node_modules/bootstrap/scss/utilities-responsive';
  @import '../../node_modules/bootstrap/scss/animation';
  @import '../../node_modules/bootstrap/scss/modal';

  .modal-backdrop.in {
    opacity: 0.9;
  }
}

html, body, body > div {
  height: 100%;
}

body {
  font-family: $font-stack;
}
