@import '../../node_modules/bootstrap/scss/variables';

$font-stack: 'Roboto', sans-serif;
$primary-color: #a6021f;
$yellow-color: #fdeb02;
$black-color: #212203;

$footer-margin: 20px;
$footer-height: 30px;
$xs-footer-height: 48px;
