$font-stack: 'Roboto', sans-serif;
$primary-color: #a6021f;
$yellow-color: #fdeb02;
$black-color: #212203;

$xs-width: 640px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;

$content-width: 1170px;
