@import '../../../styles/variables';

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $sm-width) {
    width: 750px;
  }

  @media (min-width: $md-width) {
    width: 970px;
  }

  @media (min-width: $lg-width) {
    width: 1170px;
  }

}
