@import '../../../../../styles/variables';

.leftNav {
  position: absolute;
  top: 0;
  width: $left-menu-width;
  max-width: 350px;
  background: #ECECEC;
  padding: 15px 0;

  @media screen and (max-width: $xs-width) {
    position: inherit !important;
    float: none;
    width: 100%;
    max-width: none;
  }

  ul {
    list-style-type: none;
    padding: 0 40px;
    margin: 0;

    li > a {
      color: $primary-color;
    }

    @media screen and (max-width: 1000px) {
      padding: 0 20px;
    }
  }
}
