@import '../../../styles/variables';
@import '../../../styles/mixins';

.warningContainer {
  background: $black-color;
  height: 60px;
  position: relative;
}

.warning {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 40px;
  background-color: $yellow-color;
  background-size: 40px 40px;
  @include gradient-striped($black-color, 135deg);
  text-align: center;

  & > span {
    display: inline-block;
    color: $black-color;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    background: $yellow-color;
    margin: 10px 0;
    padding: 0 10px;
  }
}
